<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c3b096;">
  <div class="container-fluid">
    <a class="navbar-brand">Login</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/paginaPrincipal" aria-current="page">Pagina principal</a>
      </div>
    </div>
  </div>
</nav>
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Usuario"/>
      <input type="password" placeholder="Contraseña"/>
      <button routerLink="/">login</button>
      <p class="message">Aun no tienes cuenta? <a routerLink="/registro">Crear tu cuenta</a></p>
    </form>
  </div>
</div>

