<div class="espacio" >
  <div id="btnlogin">
    <ul class="nav navbar-nav pull-right">
      <h1 id="tituloLogin"><a class="btn" routerLink="/login">LOGIN</a></h1>
    </ul>
  </div>
</div>
<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Flex</div>
        <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
      </div>
    </div>
